level_1/AhiYantra_s_free_n8n_course_scenario_workflow_after_level_one_tutorial.json
{
  "name": "AhiYantra-s_free_n8n_course_scenario-workflow_after-level-one-tutorial",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "{{$env.AIRTABLE_APP_BASE_ID}}",
          "mode": "list",
          "cachedResultName": "Beginner_Course",
          "cachedResultUrl": "{{$env.AIRTABLE_APP_BASE_URL}}"
        },
        "table": {
          "__rl": true,
          "value": "{{$env.AIRTABLE_APP_TABLE_ID}}",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "{{$env.AIRTABLE_APP_TABLE_URL}}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        840,
        -120
      ],
      "id": "bdce78e8-7225-4dd9-8d33-a50973a028ae",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "{{$env.AIRTABLE_TOKEN_API_ID}}",
          "name": "airtable_beginner-course_personal-access-token"
        }
      }
    },
    {
      "parameters": {
        "url": "{{$env.CUSTOM_ERP_WEBHOOK_URL}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "{{$env.CUSTOM_ERP_WEBHOOK_ID}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        0
      ],
      "id": "fe74b9a5-fd44-4e5b-b9d5-789baae2c27b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{$env.HTTP_HEADER_AUTH_ID}}",
          "name": "beginner_course"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a084d84f-a295-4d93-b86a-5700ee80bab5",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "eb077840-a576-492d-a2ec-c3e86aada8ae",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52b27180-4fef-4554-b447-77d09967de27",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "f5fc866c-b517-487c-a591-f68e1c3622a5",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -120
      ],
      "id": "b03080ba-7740-4ec1-bcbe-35c07a70362e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n//for (const item of $input.all()) {\n//  item.json.myNewField = 1;\n//}\n\n//return $input.all();\n\nlet items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        160
      ],
      "id": "9b5cb7e3-bfb4-4e8c-9959-736cf2773610",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        840,
        160
      ],
      "id": "13755d95-0887-409d-8038-a4ecde66ba45",
      "name": "Discord",
      "credentials": {
        "discordWebhookApi": {
          "id": "{{$env.DISCORD_WEBHOOK_API_ID}}",
          "name": "discord-webhook-account_ n8n-server"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        0
      ],
      "id": "4be3f1f5-1be8-4ae5-a932-35214cd97f83",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "49a24669-d88d-47eb-9ab8-025f7ca16cac",
  "meta": {
    "instanceId": "{{$env.META_INSTANCE_ID}}"
  },
  "id": "bMT4NvpcygbRBMDW",
  "tags": []
}